* {
    font-family: 'Poppins', sans-serif;
}

 #navigation {
    background-color: #313e4f;
    border-color: #313e4f;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#start {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#portfolio, #about, #contact {
    color: white;
    font-weight: bold;
}

main {
    background-color:#66ba9e;
    height: 100%;
}

.immagine {
    padding-top: 50px;
}

.start-main {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.list-inline li{
    color: white;
}

.star {
    margin-bottom: 20px;
}

.glyphicon {
    color: white;
    font-size: 30px;
    padding: 10px 10px;
}

.line {
    display: inline-block;
    background-color: white;
    width: 75px;
    height: 3px;
    border-radius: 15px;
    padding-top: 0px;
    margin-bottom: 10px;
}

p {
    color: white;
    font-size: 15px;
}
